@media (min-width: 768px) {

  nav ul {
    display: flex;
    justify-content: space-around;
  }

  #members.grid {
    grid-template-columns: repeat(3, 1fr);
  }

}
.join-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
}

.membership-cards {
  grid-template-columns: 1fr;
}