@media (min-width: 768px) {

  #menu {
    display: none;
  }

  nav {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
  }

}
.logo {
  width: 120px;
  height: auto;
}